body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/*HEADER Section*/
header {
  display: flex;
  padding: 0 20px 0 20px;
  align-items: center;
  justify-content: space-between;
  background-color: lavender;
  /*border-bottom: 1px solid;*/
}

.logo {
  padding: 5px;
  background-color: aliceblue;
}

.header-title {
  color: cadetblue;
  font-weight: 600;
}

/*SEARCH Section*/
/*.search {*/
/*  font-size: 18px;*/
/*}*/

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#form-search-visit {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  align-items: baseline;
  padding-bottom: 20px;
}

#form-search-visit select {
  margin-right: 40px;
}

textarea {
  margin-top: 10px;
  width: 100%;
  font-size: 16px;
}
/*#form-search-visit .form-fieldset {*/
/*  display: contents;*/
/*}*/

.form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  color: black;
}

.form-fieldset {
  display: contents;
  border: none;
}

/*MODAL WINDOW*/
.modal {
  display: block;
  position: fixed;
  z-index: 20;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: auto;
  background-color: #fefefe;
  padding: 10px 30px;
  border: 1px solid #888;
  box-shadow: 0 0 10px #2e3134;
  color: cadetblue;
  text-align: center;
  border-radius: 5px;
}
 h3 {
   margin-bottom: 10px;
 }

input  {
  margin: 5px auto;
  font-size: 16px;
}

select {
  font-size: 16px;
}

.form-fieldset > input {
  width: 100%;
}

.form > input {
  margin-top: 15px;
}

.search input {
  width: 200px;
}

.board {
  margin: 0 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-height: 500px;
  justify-content: center;
  border: 1px solid cadetblue;
  padding: 20px 0;
}

.board-empty {
  display: none;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin-top: 100px;
  border: 1px solid darkcyan;
  padding: 10px 20px;
  border-radius: 20px;
  color: darkcyan;
  font-size: 18px;
}

.btn-show {
  color: darkcyan;
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  font-size: 14px;
}

.btn-show:focus, .button:focus {
  outline: none;
}

.btn-show:hover {
  color: cadetblue;
}

.hidden-place, .btn-show {
  display: none;
}

.card-visit {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: fit-content;
  border: 1px solid cadetblue;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: aliceblue;
  line-height: 2;
}

.card-visit span {
  background-color: white;
  padding: 5px;
  font-weight: 600;
  border: 1px solid lightgrey;
}

.card-status {
  display: none;
}

.card-title {
  background-color: cadetblue;
  color: white;
  margin: 25px 0 10px;
  text-align: center;
}

.card-comments {
  word-wrap: break-word;
  background-color: white;
  padding: 5px;
  font-weight: 600;
  border: 1px solid lightgrey;
  line-height: 1;
  margin-bottom: 3px;
}

.edit-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.delete-icon {
  position: absolute;
  top: -15px;
  right: 8px;
  cursor: pointer;
  font-size: 30px;
}

.button {
  display: inline;
  border-radius: 10px;
  background-color: cadetblue;
  text-transform: uppercase;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: white;
  color: cadetblue;
  transition: 0.2s;
}

.header-btn {
  display: none;
}

.active {
  display: block;
}